[
  {rabbitmq_shovel,
  [ {shovels, [ {drone_status_upstream_shovel,
                  [ {source,
                      [ {protocol, amqp091},
                        {uris, [ "amqp://local-rabbit"]},
                        {declarations, [ {'exchange.declare',
                                            [ {exchange, <<"status-report-exchange-local">>},
                                              {type, <<"direct">>},
                                              durable
                                            ]},
                                          {'queue.declare',
                                            [ {queue, <<"status-report-queue-local">>},
                                              durable
                                              ]},
                                          {'queue.bind',
                                            [ {exchange, <<"status-report-exchange-local">>},
                                              {queue,    <<"status-report-queue-local">>},
                                              {routing_key, <<"status-report-queue-local">>}
                                            ]}
                                          ]},
                        {queue, <<"status-report-queue-local">>}
                      ]},
                    {destination,
                      [ {protocol, amqp091},
                        {uris, ["amqp://upstream-rabbit-1",
                                "amqp://upstream-rabbit-2",
                                "amqp://upstream-rabbit-3"]},
                        {declarations, []},
                        {queue, <<"status-report-queue-upstream">>},
                        {publish_fields, [{exchange,    <<"status-report-exchange-upstream">>},
                                          {routing_key, <<"status-report-queue-upstream">>}]},
                        {add_forward_headers, false}
                      ]},
                    {ack_mode, on_confirm},
                    {reconnect_delay, 5}
                  ]}
              ]}
  ]}
].



